extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li: a(href="/weather/sydney") Sydney
    li: a(href="/weather/sydney/monday") Sydney on Monday
    li: a(href="/weather/sydney/tuesday") Sydney on Tuesday
    li: a(href="/weather/sydney/wednesday") Sydney on Wednesday
    li: a(href="/weather/sydney/thursday") Sydney on Thursday
    li: a(href="/weather/sydney/friday") Sydney on Friday
    li: a(href="/weather/sydney/saturday") Sydney on Saturday
    li: a(href="/weather/sydney/sunday") Sydney on Sunday

  ul
    li: a(href="/weather/brisbane") Brisbane
    li: a(href="/weather/brisbane/monday") Brisbane on Monday
    li: a(href="/weather/brisbane/tuesday") Brisbane on Tuesday
    li: a(href="/weather/brisbane/wednesday") Brisbane on Wednesday
    li: a(href="/weather/brisbane/thursday") Brisbane on Thursday
    li: a(href="/weather/brisbane/friday") Brisbane on Friday
    li: a(href="/weather/brisbane/saturday") Brisbane on Saturday
    li: a(href="/weather/brisbane/sunday") Brisbane on Sunday
